@import '../../global/styles/palette';

.loader-container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black;
  opacity: 0.75;
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader-root {
    width: 70px !important;
    height: 70px !important;
    color: $white;
  }
}
