@import '../../global/styles/palette';

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  border-radius: 100px;
  background: $white;
  color: $black;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  &.outlined {
    background-color: transparent;
    border: $white 1px solid;
    color: $light-grey;
  }
}
