@import '../../global/styles/palette';

.controls-container {
  padding: 0 16px 24px 16px;
  position: fixed;
  top: calc(100% - 72px);
  left: 50%;
  transform: translate(-50%, 0);

  .controls {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 328px;

    .control {
      padding: 12px 28px;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        border-bottom-left-radius: 35% 50%;
        border-top-left-radius: 35% 50%;
      }

      &:last-child {
        border-bottom-right-radius: 35% 50%;
        border-top-right-radius: 35% 50%;
      }
    }
  }
}
