@import '../../global/styles/palette';

.modal-window__background {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $grey;
  opacity: 0.25;
  z-index: 300;
}

.modal-window__container {
  position: fixed;
  width: 328px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 16px;
  z-index: 400;
  background: $black;
  border-radius: 24px;

  .modal-header {
    display: flex;
    justify-content: space-between;
    height: 24px;
    align-items: center;

    .modal-title {
      font-size: 16px;
      font-weight: 600;
      color: $white;
    }

    .modal-close__container {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .modal-window__subtitle {
    margin-top: 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: $white;
  }

  .modal-content__container {
    margin-top: 24px;
  }
}
