@import '../../global/styles/palette';

.line-progressbar__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $white;
  font-size: 12px;

  .progressbar__label {
    margin-bottom: 10px;
  }
}

.right {
  align-items: end;
  .line-progressbar {
    transform: scaleX(-1);
  }
}
